* {
    box-sizing: border-box;
    border: 0px solid red;
}

body {
    margin: 10px;
}

h1 {
    font-size: 24px;
    text-align:center;
    color:brown;
}

p {
    font-size: large;
    font-style: oblique;
}

a {
    text-decoration: none;
}

a:visited {
    color:brown;
}

pre {
    margin: 0 100px;
}

a:link {
    color:brown;
}

.list {
    line-height: 1.5em;
}

.odd {
    background-color: #ffc0cb;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
    color: black;
}

#two {
    color: #0000ff;
    font-size: 36px;
}

.adjust-font-size {
    font-size: 24px;
}

#four {
    background-color: #90ee90;
    font-weight: bold;
}

.click-me, .no-me {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}

.click-me {
    background-color: black;
    color: white;
}

.no-me {
    background-color: yellow;
    color: black;
}

.avatar.proportioned {
    width: 300px;
    height: auto;
}

.avatar.distorted {
    height: 400px;
    width: 200px;
}

nav {
    margin: 0;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    display: flex;
    background-color: aquamarine;
    width: 100%;
    /* border:2px solid red; */ 
    justify-content: center;
}

.one {
    background-color: lightcoral;
    color: darkred;
    border: 10px solid purple;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    height: 100px;
    width: 100px;
}

.two {
    background-color: lightskyblue;
    color: darkblue;
    border: 40px solid green;
    padding: 50px;
    margin: 100px;
    text-align: center;
    height: 100px;
    width: 100px;
}

code {
    background-color: lightgray;
    font-family:'Courier New', Courier, monospace;
}

.menu {
    padding: 8px;
    margin: 8px;
    background-color:azure;
    border: 2px solid darkgray;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu:hover {
    background-color:aquamarine;
    color: white;
}

.toc {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 3rem;
    padding-right: 3rem;
}